.container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.htmlInput {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  outline: none;
  &:focus {
    border-color: #b8b8b8;
  }
}

.error {
  color: red;
  font-size: 15px;
  margin-bottom: 10px;
}

